<div class="container row">
    <div class="col-md-4">
        <h2>Print to PDF</h2>
        <p>@Html.ActionLink("Print", "PrintPdf")</p>
    </div>
</div>
<hr />
<div class=" container row">
    <div class="col-md-4">
        <h2>Export to PDF</h2>
        <p>@Html.ActionLink("Export", "ExportPdf")</p>
    </div>
    <div class="col-md-4">
        <h2>Export to Excel</h2>
        <p>@Html.ActionLink("Export", "ExportXls")</p>
    </div>
</div>


